body *{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1 em;
}

img.small {
  width: 150px;
}

body {
  background-color: burlywood;
}

#viewResults {
  display: none;
}